@{
    ViewBag.Title = "A Little Backstory";
    ViewBag.Message = "About Kailey Lowe";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Hello everyone! My name is Kailey and I am a junior at Ohio University. I am currently majoring in Management Information Systems and I have a double minor in
    Marketing and Business Analytics and I have a certificate in Supply Chain Management. Outside of my class work, I am a member of Ohio Women in Business and I volunteer weekly at the OU ELIP Speaking lab. I am also the 
    Retail Coordinator at West 82 and I have been working there since my freshman year. I will be graduating a semester early, so in December of 2020 and I recently accepted a summer 
    intersnhip with NiSource on their Robotic Process Automation Team. </p>
