@{
    ViewBag.Title = "Contact me";
    ViewBag.Message = "These are some of the ways to reach me";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kailey Lowe<br />
    38 N. McKinley Dr. Athens, OH 45701<br />
    <abbr title="Phone Number">Phone Number:</abbr>
    740.123.4567
</address>

<address>
    <strong>:</strong>   <a href="kl753916@ohio.edu"> kl753916@ohio.edu</a><br />
</address>