@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>College of Business</h2>
    <p class="lead">Here is a link to Ohio University's College of Business homepage. It is a great tool to access different pages about the COB.</p>
    <p><a href="https://business.ohio.edu/" class="btn btn-primary btn-lg">Learn more about the COB &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>ISMS</h2>
        <p>
            If you are currently in the College of Business then I am sure you have used or head of ISMS, which is kind of like the Blackboard for the COB. If you click on the link below it will take you to the site. 
        </p>
        <p><a class="btn btn-default" href="https://ohiocoblms.azurewebsites.net/login.aspx">Go to ISMS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Global Consulting Program</h2>
        <p>If you are a student at Ohio University and you are looking for an amazing opportuntity to travel abroad, gain an internship and class credits, and meet new people you should think about applying to Ohio University's Global Consulting Program.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/about/centers-institutes/center-for-international-business/global-consulting-program/">Learn more about the GCP &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Ohio Women in Business</h2>
        <p>If you are looking for a new organization to join, I would recommend Ohio Women in Business, also known as OWIB. I am currently a member and it is a great tool for networking and meeting new people. If you are interested in joining then click the link below to learn more.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/future-students/student-life/student-orgs-and-clubs/">OWIB Student Org. &raquo;</a></p>
    </div>
</div>